<div class="product-list">
  <h2>Product List</h2>
  <h3>Shop by Category</h3>
  <!-- Filter Section -->
  <div class="filters">

    <div class="category-grid">
      <div
        class="category-item"
        *ngFor="let category of categories"
        (click)="filterByCategory(category)"
        [class.selected]="selectedCategory === category"
      >
        <img src="https://dummyimage.com/100x400/072c61/fff.jpg&text={{category}}" [alt]="category" class="category-image" />
        <p>{{ category }}</p>
        <span class="badge">{{ getProductCountForCategory(category) }}</span>
      </div>
    </div>
  </div>

  <!-- Product Grid -->
  <div *ngIf="filteredProducts.length > 0; else noProducts" class="product-grid">
    <div class="product" *ngFor="let product of filteredProducts">
      <img [src]="product.thumbnail" [alt]="product.title" class="product-thumbnail" />
      <h3>{{ product.title }}</h3>
      <p><strong>Category:</strong> {{ product.category }}</p>
      <p><strong>Price:</strong> ${{ product.price }}</p>
      <p><strong>Rating:</strong> {{ product.rating }} / 5</p>
      <p><strong>Stock:</strong> {{ product.stock }}</p>
      <button (click)="addToCart(product)">Add to Cart</button>
      <button [routerLink]="['/product-details', product.id]">Show Details</button>
    </div>
  </div>

  <ng-template #noProducts>
    <p>No products available.</p>
  </ng-template>
</div>
