<div class="container-fluid py-3">
  <h1>Angular Reactive Form Validation</h1>

  <div>
    <div>
      <form [formGroup]="reactiveForm" #form="ngForm">
        <div>
          <div>
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" name="name" formControlName="name" placeholder="Your name" required
              minlength="1" maxlength="250" [class.is-invalid]="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
              <div *ngIf="name.errors?.['required']">
                This field is required.
              </div>
              <div *ngIf="name.errors?.['minlength']">
                This field must have at least 1 character.
              </div>
              <!-- Debugging information can be logged in the component's TypeScript file -->
              <div *ngIf="name.errors?.['maxlength']">
                This field must have at most {{maxlengthError??""}} characters.
              </div>
            </div>
          </div>
        </div>


        <div>
          <div>
            <label for="nickname" class="form-label">Nickname:</label>
            <input type="text" id="nickname" name="nickname" formControlName="nickname" placeholder="Your nickname"
              maxlength="10" [class.is-invalid]="nickname.invalid && (nickname.dirty || nickname.touched)">
            <div *ngIf="nickname.invalid && (nickname.dirty || nickname.touched)" class="invalid-feedback">
              <div *ngIf="nickname.errors?.['maxlength']">
                This field must have at most 10 characters.
              </div>
            </div>
          </div>
        </div>


        <div>
          <div>
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" name="email" formControlName="email" placeholder="your-name@provider.com"
              required minlength="1" maxlength="250"
              [class.is-invalid]="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
              <div *ngIf="email.errors?.['required']">
                This field is required.
              </div>
              <div *ngIf="email.errors?.['minlength']">
                This field must have at least 1 character.
              </div>
              <div *ngIf="email.errors?.['maxlength']">
                This field must have at most 250 characters.
              </div>
              <div
                *ngIf="!email.errors?.['required'] && !email.errors?.['minlength'] && !email.errors?.['maxlength'] && email.errors?.['emailValidator']">
                Invalid email format.
              </div>
            </div>
          </div>
        </div>


        <div>
          <div>
            <label for="password" class="form-label">Password:</label>
            <div>
              <input [type]="user.showPassword ? 'text' : 'password'" id="password" name="password"
                formControlName="password" required minlength="15"
                [class.is-invalid]="password.invalid && (password.dirty || password.touched)">
              <button type="button" (click)="user.showPassword = !user.showPassword">
                <i class="bi"
                  [ngClass]="{'bi-eye-fill': !user.showPassword, 'bi-eye-slash-fill': user.showPassword}"></i>
              </button>
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                <div *ngIf="password.errors?.['required']">
                  This field is required.
                </div>
                <div *ngIf="password.errors?.['minlength']">
                  This field must have at least 15 characters.
                </div>
              </div>
            </div>
          </div>
        </div>


        <div>
          <div>
            <button type="button" (click)="validate()">Validate</button>
          </div>
        </div>


      </form>
    </div>
  </div>
</div>
